services:
  backend:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile
    container_name: kredora-app
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    depends_on:
      - postgres
    env_file:
      - .env

  postgres:
    image: postgres:15-alpine
    container_name: kredora-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: